<%= simple_form_for [@business_place, @dish], remote: true do |f| %>
  <%= f.input :name, label: false, placeholder: "Dish's name" %>
  <%= f.input :description, label: false, placeholder: "Description" %>
  <%= f.input :price, label: false, placeholder: "Price" %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <hr style="margin-top: 15px; margin-bottom: 15px;">
  <div style="display: flex; justify-content: space-between;">
    <div>
      <%= link_to "Delete", dish_path(@dish), class: "btn btn-medium", method: :delete, remote: true %>
    </div>
    <div>
      <button type="button" class="btn btn-medium" data-dismiss="modal" aria-label="Close">Cancel</button>
      <%= f.button :submit, class: "btn btn-medium btn-medium-yellow", value: "Save", id: "dish-edit-save" %>
    </div>
  </div>
<% end %>


