<div class="margin-top"></div>

<!-- add filters: by price, by distance, by cuisines, by location -->

<div class="wrapper-yellow text-center">We found <%= pluralize @items.count, "fresh dish" %> nearby</div>

  <!-- combo_box -->
  <div>
    <form action="search" class="form-inline" method="get">
      <select name="location" class="form-control">
          <% BusinessPlace.select(:city).distinct.each do |e| %>
            <option value="<%= e.city.downcase %>" <%= "selected" if e.city.downcase == "lisboa" %>><%= e.city.capitalize %></option>
          <% end %>
      </select>
      <select name="cuisine" class="form-control">
          <% Cuisine.all.each do |cuisine| %>
            <option value="<%= cuisine.name.downcase %>" ><%= cuisine.name.capitalize %></option>
          <% end %>
      </select>
      <select name="sort" class="form-control">
        <option value="1">Price Low to High</option>
        <option value="2">Price High to Low</option>
        <option value="3">Distance</option>
      </select>
        <input type="submit" value="Go" class="btn-medium btn-medium-sm btn-medium-yellow">
      </form>
  </div>


  <div class="container">
<% unless @items.empty? %>
  <% @items.in_groups_of(3) do |item1, item2, item3| %>
    <div class="row">
      <div class="col-sm-4">
        <%= render 'shared/listcard', item: item1 %>
      </div>
      <% if item2 %>
      <div class="col-sm-4">
        <%= render 'shared/listcard', item: item2 %>
      </div>
      <% end %>
      <% if item3 %>
      <div class="col-sm-4">
        <%= render 'shared/listcard', item: item3 %>
      </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <br>
  <div class="alert alert-danger" role="alert" style="color: #d9534f; font-size: 1.2em;">
  <i class="fa fa-meh-o" aria-hidden="true"></i>
  Opps! No matches for your query.
  </div>
  <br>
<% end %>
</div>

</div>
