<div class="wrapper-lightgrey" id="item-id-<%= item.id %>" dish-id="<%= item.dish.id unless item.dish.nil? %>">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="dish-show-container">
          <%= image_tag  item.photo.url, class: "img-responsive img-rounded dish-image" %>
        </div>
        </div>
        <div class="col-sm-6">
          <div class="dish-show-container">
          <% if (user_signed_in? and current_user.business_places.include?(@business_place)) or @close_button %>
            <%= link_to item_path(item), method: :delete, remote: true, class: "close close-lg", aria: { label: "Close" } do %>
              <span aria-hidden="true">&times;</span>
            <% end %>
          <% end %>
          <a name="item-id-<%= item.id %>"></a>
          <div class="dish-name"><%= item.name %></div>
          <div class="dish-price">Price: <%= item.price.round %>€</div>
          <div class="dish-description"><%= item.description %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="height: 2px; background-color: white;"></div>
