<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h2>New Business Place</h2>
      <%= simple_form_for @business_place do |f| %>
      <%= f.input :address %>
      <%= f.input :zip_code %>
      <%= f.input :city %>
      <%= f.input :country, priority: [ 'PT' ] %>
      <%= f.input :name, placeholder: "Name" %>
      <%= f.input :phone_number, placeholder: "Phone Number" %>
      <%= f.input :description, placeholder: "Description" %>
      <%= f.input :average_cost, placeholder: "Average Cost" %>
      <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyANIX5OkPPRTJZkKRUF80Nso8xQvwEY2mE"></script>
<% end %>
