<div class="banner-small" style="background-image: url('<%= @business_place.cover_photo.url %>');">
  <div class="banner-small-content">
      <h2><%= @business_place.name %></h2>
      <h3><%= @business_place.description %></h3>
      <p><%= @business_place.phone_number %>   |   <%= @business_place.address %></p>

  </div>
</div>

<div class="badge-yellow">
  <%= link_to "Get me there", map_business_place_path(@business_place) %>
</div>

<div class="container">
  <h2 class="text-center" style="padding-top: 5vh;">Today's dishes</h2>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
       <div class="dish-container">
          <%= image_tag  'https://static.pexels.com/photos/128388/pexels-photo-128388.jpeg', class: "img-responsive img-rounded dish-image"%>
          <div class="dish-info">
            <div class="dish-info-text">
              <h3 class="dish-info-text-name">Spring salad with potatoes</h3>
              <p class="dish-info-text-price">Price: 8€</p>
            </div>
          </div>
          <a class="dish-link" href="#" ></a>
        </div>
      </div>
    </div>
</div>


