<!-- <div class="banner-small" style="background-image: url('<%# @business_place.cover_photo.url %>');"> -->
<div class="banner-small" style="background-image: url('https://static.pexels.com/photos/3540/restaurant-alcohol-bar-drinks.jpg');">
  <div class="banner-small-content">
      <h2><%= @business_place.name %></h2>
      <h3><%= @business_place.description %></h3>
      <p><%= @business_place.phone_number %>   |   <%= @business_place.address %></p>

  </div>
</div>

<div class="badge-yellow">
  <%= link_to "Get me there", "#directions" %>
  <!-- map_business_place_path(@business_place) -->
</div>

<div class="wrapper-white text-center">
  <h2>Today's dishes</h2>
</div>

<div class="wrapper-lightgrey">
  <div class="container">
<!--   <%# @business_place.items.each do |item| %>
    <div class="row">
      <div class="col-sm-6">
        <div class="dish-container">
            <%# image_tag  'https://static.pexels.com/photos/128388/pexels-photo-128388.jpeg', class: "img-responsive img-rounded dish-image"%>
            <div class="dish-info">
              <div class="dish-info-text wrapper-transp-grey">
                <div class="dish-info-text-name">Spring salad with potatoes</div>
                <div class="dish-info-text-price">Price: 8€</div>
              </div>
            </div>
            <a class="dish-link" href="#" ></a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="dish-container">
          <div class="description">Description</div>
          <div class="description description-text"><%# item.description %></div>
        </div>
      </div>
    </div>
    <%# end %> -->

    <div class="row">
      <div class="col-sm-6">
        <div class="dish-container">
            <%= image_tag  'https://static.pexels.com/photos/128388/pexels-photo-128388.jpeg', class: "img-responsive img-rounded dish-image"%>
            <!-- <div class="dish-info">
              <div class="dish-info-text wrapper-transp-grey">
                <div class="dish-info-text-name">Spring salad with potatoes</div>
                <div class="dish-info-text-price">Price: 8€</div>
              </div>
            </div> -->
            <a class="dish-link" href="#" ></a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="dish-container">
          <div class="dish-info-text-name dish-info-text-name-description">Spring salad with potatoes</div>
          <div class="dish-info-text-price dish-info-text-price-description">Price: 8€</div>
          <!-- <div class="description">Description</div> -->
          <div class="description description-text">Mix leaves, cooked eggs, grilled chicken, parmesan cheese, artichokes, potatoes and olive oil-based sauce.</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-white">
  <div id="directions">
  <form action="http://maps.google.com/maps" method="get" target="_blank">
    <input type="text" name="saddr" placeholder="Starting address" />
    <input type="hidden" name="daddr" value="<%= @business_place.full_address %>"/>
    <input type="submit" value="get directions" class= "btn btn-primary"/>
  </form>
</div>
</div>

  <div id="map" style="width: 100%; height: 400px;"></div>

  <%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANIX5OkPPRTJZkKRUF80Nso8xQvwEY2mE">
    console.log('google_api')
  </script>


  <script type="text/javascript">
    var myLatlng = new google.maps.LatLng(<%= @business_place.latitude %> , <%= @business_place.longitude %>);

    var myOptions = {
      zoom: 16,
      center: myLatlng,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"transit.station.bus","elementType":"geometry","stylers":[{"visibility":"on"},{"hue":"#ff0000"}]},{"featureType":"transit.station.bus","elementType":"geometry.fill","stylers":[{"visibility":"on"}]},{"featureType":"transit.station.bus","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#4690ec"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"on"}]}] // TODO: replace [] by array from https://snazzymaps.com/
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: "You are here!"
});
</script>
<% end %>



