<%= render "modal_new_item" %>
<%= render "modal_edit_business_place" %>
<%= render "modal_manage_dishes" %>

<!-- <div class="banner-small" style="background-image: url('<%# @business_place.cover_photo.url %>');"> -->
<div class="banner-small" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.1) 55%), url('<%= image_url @business_place.cover_photo.url %>');">
  <div class="banner-small-content">
      <h2><%= @business_place.name %></h2>
      <h3><%= @business_place.description %></h3>
      <p><%= @business_place.phone_number %>   |   <%= @business_place.full_address %></p>
      <% if user_signed_in? && current_user.business_places.include?(@business_place) %>
        <%= link_to "Edit Business Place", "#{}", class: "btn-medium btn-medium-white", id: "edit-button", data: { toggle: "modal", target: "#edit-bp"} %>
        <%# link_to "Edit Business Place", edit_business_place_path, class: "btn-medium btn-medium-white", id: "edit-button" %>
        <!--  why does this work without an ID?-->
      <% end %>
  </div>
</div>

<div class="badge-yellow">
  <%= link_to "Get me there", "#directions" %>
  <!-- map_business_place_path(@business_place) -->
</div>

<% if not @items.empty? or (@items.empty? and user_signed_in? and current_user.business_places.include?(@business_place)) %>
  <div class="wrapper-white text-center">
    <h2>Today's dishes</h2>
  </div>
<% end %>

<div class="js-items-list">
    <% @items.each do |item| %>
        <%= render "item_show", item: item %>
    <% end %>
</div>

<% if user_signed_in? && current_user.business_places.include?(@business_place) %>

<div class="wrapper-lightgrey">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="dish-show-container">
          <%= link_to "#", class: "dish-add dish-add-pin", data: { toggle: "modal", target: "#add-dish-modal"} do %>
            <i></i>
            <span>Create a Dish</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- <br>
  <br>
  <div class="container text-center">
  <%= link_to "Add New Today's Dish", new_business_place_item_path(@business_place), class: "btn btn-default "%>
  </div> -->
<% end %>

<!-- testing a new layout with manage dishes -->
<% if user_signed_in? && current_user.business_places.include?(@business_place) %>

<div class="wrapper-lightgrey">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="dish-show-container">
          <%= link_to "#", class: "dish-add dish-add-pin", data: { toggle: "modal", target: "#add-dish-modal"} do %>
            <i></i>
            <span>Create a Dish</span>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="dish-show-container">
          <%= link_to "#", class: "dish-add dish-add-pin", data: { toggle: "modal", target: "#manage-dishes-modal"} do %>
            <i></i>
            <span>Manage your Dishes Portfolio</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<% end %>

 <!--
Spring salad with potatoes
Price: 8€
Mix leaves, cooked eggs, grilled chicken, parmesan cheese, artichokes, potatoes and olive oil-based sauce.
 -->

<div class="container text-center">
  <div class="wrapper-white">
    <div id="directions">
    <form action="http://maps.google.com/maps" method="get" target="_blank">
      <input type="text" name="saddr" placeholder="Starting address" />
      <input type="hidden" name="daddr" value="<%= @business_place.full_address %>"/>
      <input type="submit" value="get directions" class= "btn-medium btn-medium-yellow"/>
    </form>
    </div>
  </div>
</div>

  <div id="map" style="width: 100%; height: 400px;"></div>

  <%= content_for(:after_js) do %>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANIX5OkPPRTJZkKRUF80Nso8xQvwEY2mE">
    console.log('google_api')
  </script> -->


  <script type="text/javascript">
    var myLatlng = new google.maps.LatLng(<%= @business_place.latitude %> , <%= @business_place.longitude %>);

    var myOptions = {
      zoom: 16,
      center: myLatlng,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"transit.station.bus","elementType":"geometry","stylers":[{"visibility":"on"},{"hue":"#ff0000"}]},{"featureType":"transit.station.bus","elementType":"geometry.fill","stylers":[{"visibility":"on"}]},{"featureType":"transit.station.bus","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#4690ec"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"on"}]}] // TODO: replace [] by array from https://snazzymaps.com/
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: "You are here!"
});

</script>
<% end %>



